.post-date{
  display: none;
}
.post{
  background-color: lightgreen;
}
.sp-header{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  &__author{
    padding-top: 15px;
    display: inline-block;
    width: 100%;
    background-color: #dff3fd;
    img{
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-bottom: 5px;
      margin-left: 10px;
      border-radius: 90px;
    }
    h4{

      margin-left: 10px;
      display: inline-block;
      color: #2b669a;
    }
    .author--top{
      vertical-align: top;
      margin-top: 0;
    }
    .author--bottom{
      vertical-align: bottom;
      margin-top: 0;
    }
    .author--middle{
      vertical-align: middle;
      margin-top: 0;
    }
  }
  &__action{
    font-size: 12px;
    color: gray;
    text-transform: uppercase;
    margin-left: 10px;
  }
  &__date{
    top:5px;
    vertical-align: middle;
    position: relative;
    font-style: italic;
    font-size: 18px;
    margin-left: 20px;
    &::before{
      position: absolute;
      height: 4px;
      width: 4px;
      bottom: 40%;
      left: -12.5px;
      border-radius: 90px;
      background-color: gray;
      content: ' ';
    }
  }
  &__date--middle{
    top: -3px
  }
  &__author--white{
    background-color: #ffffff;
  }
  &__title{
    margin-top: 2px;
    width: 100%;
    background-color: #dff3fd;
    h4{
      margin-left: 30px;
      color: #2b669a;
    }
  }
}
.sp-content{
  p{
    margin: 10px;
    margin-bottom: 60px;
    color: gray;
  }
}
.post-action-button{
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  font-weight:700;
  width: 200px;
  position: absolute;
  bottom: -17.5px;
  height: 35px;
  left: calc(50% - 100px);
}
.follow-button{
  position: absolute;
  border: none;
  background-color: transparent;
  bottom: 45px;
  left: 10px;
  color: #2b669a;
  font-weight: 700;
}
.vote-buttons{
  position: absolute;
  bottom: 40px;
  right: -25px;
  transform: rotate(90deg);
}
.button {
  margin: 7px;
  width: 10px;
  background-color: transparent;
  border-right: 10px solid cornflowerblue;
  border-left: 10px solid cornflowerblue;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
.button--up{
  border-left: transparent;
}
.button-down{
  border-right: transparent;
}

.vote{
  position: absolute;
  right: 50px;
  bottom: 45px;

  p{
    font-family: RoticSansItalic, sans-serif;
    margin: 0;
  }
  span{
    margin: 0 5px;
    font-size: 16px;
    font-family: RoticSans, sans-serif;

  }
}

.sp-comment + .sp-header{
  &__author{
    background-color: white;
  }

}
.sp-comment{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  &__sub{
    border-top: 1px solid lightgray;
    margin-top: 0;
    width: 100%;
    margin-bottom: 0px;
    border-left: 5px solid gray;

  }
  &__content{
    position: relative;
    padding-bottom: 50px;
    border-top: 1px solid lightgray;
    padding-top: 10px;
    padding-left: 10px;
    min-height: 120px;
    color: gray;

  }
  &__comment{
    padding-bottom: 40px;
  }
  .vote{
    bottom: 25px;
  }
  .vote-buttons{
    bottom: 20px;
  }
}