<header class="page-header">
    <button class="back-arrow"></button>
    <div class="container">
        <div class="page-header__container-main">
            <div class="title-container">
                <h1 class="title-container__title">QUESTIONS</h1>
                <button class="title-container__plus"></button>
            </div>
            <div class="radio-group">
                <input type="radio" name="group1" value="my_shelf" checked title="Show posts from your shelf">My shelf
                <input type="radio" name="group1" value="all_questions"  title="Show all posts"> All Questions
            </div>
            <input id="search" type="text" class="search search--length" placeholder="SEARCH QUESTIONS">
        </div>

        <div class="page-header__container-side">
            <div class="sort">
                <span>sort by:</span>
                <a id="recent">recent</a>
                <span>or</span>
                <a id="hot" >hot</a>
            </div>
            <button class="search-button" id="search-button">Search</button>
        </div>
    </div>
</header>

<section class="post-container">
    <div class="container">
        <div ng-include="'app/templates/allPostsPostTemplate.html'"></div>
        <button class="load-more" id="load-more">Load more questions</button>
    </div>

</section>

