<header class="page-header">
    <button class="back-arrow" ui-sref="main"></button>
    <div class="container">
        <div class="page-header__container-main">
            <div class="title-container sp-title">
                <h1 class="title-container__title" ui-sref="forms">QUESTION</h1>
                <button class="title-container__plus"></button>
            </div>
        </div>
        <div class="post-date">
            <p>Last time discussed <span>1</span> day ago</p>
        </div>
    </div>
</header>
<section class="post-container">
    <div class="container">
        <div ng-include="'app/templates/singlePostTemplate.html'">

        </div>
    </div>
</section>
