<div class="post"
     ng-controller="ModalCtrl as $ctrl"
     ng-repeat="post in posts | orderBy: postOrder | filter: postSearch | limitTo: postLimit">
    <div class="post__header" >
        <div class="avatar">
            <img src="img/{{post.avatar}}" ng-click="$ctrl.open(post.profileId)" alt="avatar">
        </div>
        <div class="post__title">
            <p ng-click="$ctrl.open(post.profileId)">{{post.name}}<span>{{post.detail}}</span></p>
            <p ui-sref="post({postid: post.id})">{{post.title}}</p>
        </div>
    </div>
    <div class="post__type">
        <span>{{post.type}}</span>
    </div>
    <div class="post__activity">
        <div class="activities"  ng-if="post.activities.length>limit">
            <span class="activities__label--up">{{post.activities.length-limit}}</span>
            <span class="activities__label--down">more activities</span>
        </div>
        <div ng-repeat="activity in post.activities | limitTo: limit"
             ng-class="{ 'comment': activity.type=='commented' , 'comment answer': activity.type=='answered'}">
            <div class="avatar">
                <img ng-click="$ctrl.open(activity.profileId)" src="img/{{activity.avatar}} ">
            </div>
            <span>{{activity.type}}</span>
        </div>
    </div>
    <div class="post__stats">
        <p><span>{{post.discussion}}</span> related discussion</p>
        <p><span>{{post.peers}}</span> peers involved</p>
        <p><span>{{post.conversation}}</span> conversations</p>
    </div>
</div>

